        <div class="header">
            <div class="content row">
                <div class="col-md-2">
                    <img src="/images/logo-slide.png" onclick="javascript: location.href='<%= root_path %>'" alt="Pizza Prime" title="Pizza Prime" class="logo pointer" />
                </div>
                <div class="col-md-10 text-right">
                    <ul class="menu">
                        <li <% if page == 'home' %> class="active" <% end %> ><a href="<%= root_path %>">Home</a></li>
                        <li <% if page == 'loja' %> class="active" <% end %> >
                            <% if session[:store].blank? %>  
                                <a href="<%= loja_path %>">Unidades/Cardápios</a>
                            <% else %>
                                <a href="<%= cardapio_path %>">Unidades/Cardápios</a>
                            <% end %>
                        </li>
                        <li><a href="<%= root_path %>">A Pizza Prime</a></li>
                        <li><a href="<%= root_path %>">Trabalhe Conosco/Contato</a></li>
                        <li><a href="http://www.mobile2you.com.br/pizzaprime/" target="_blank">Blog</a></li>
                        <li>
                            <% if session[:store].blank? %>  
                                <a href="<%= loja_path %>"><strong>Peça Agora</strong></a>
                            <% else %>
                                <a href="<%= cardapio_path %>"><strong>Peça Agora</strong></a>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>