<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
    
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <%= render :partial => 'header', :locals => {:page => 'loja', :links => 'site'} %>
        
        <!-- INICIO DA SEÇÃO DAS REGIÕES -->
        <div class="stores">
        	<div>
        		<div class="content center">
        			<ul class="states">
        				<% @states.each do |state| %>
        					<li <% if state == session[:store]['uf'] %> class="active" <% end %> >
                                <% 
                                
                                case state 
                                when 'SP'
                                    concat 'São Paulo'
                                when 'RJ'
                                    concat 'Rio de Janeiro'
                                when 'SC'
                                    concat 'Santa Catarina'
                                when 'RS'
                                    concat 'Rio Grande do Sul'
                                when 'PR'
                                    concat 'Paraná'
                                when 'AP'
                                    concat 'Amapá'
                                else
                                    concat ''
                                end
                                
                                %>
                            </li>
        				<% end %>
        			</ul>
                    <ul class="neighbor">
                        <% @neighborhood.each do |n| %>
                            <li <% if n.neighborhood == session[:store]['name'] %> class="active" <% end %> >	
                                <%= n.neighborhood %>
                            </li>
                        <% end %>
                    </ul>
        		</div>
        	</div>
        </div>
    <!-- FINAL DA SEÇÃO DAS REGIÕES -->


    <!-- CORPO DO CARDAPIO -->
        <div class="content">
             <% if session[:logged].nil? %>
        	   <div class="minha-caixa" data-toggle="modal" data-target="#login">
                    <p class="center">Faça o Login</p>
                </div>
                <% else %>
                <div class="minha-caixa" onclick="location.href='<%= cart_path %>'">
        		  <img src="/images/icon-caixa.png" alt="Minha Caixa" title="Minha Caixa">
        		  Minha Caixa <span class="badge"> <% if session[:caixa].nil? %> 0 <% else %> <%= session[:caixa] %> <% end %> </span>

        	   </div>
            <% end %>
            <br>
        	<div class="center">
        		<img src="/images/pin.png" alt="Local Pizza Prime" title="Local Pizza Prime">
        		<h2 class="unit-title">UNIDADE <%= @store.name %></h2>
        		<p class="unit-subtitle"><%= @store.address_full %> | DELIVERY - <%= @store.phone %> </p>
        	</div>
        	<h1 class="titleCardapio">Cardápio</h1>
            

            <div class="row center">
                <div class="col-md-4 rightBorder">
                    <p class="faixaFundo">Tamanho</p>
                    <div class="tamanhos">
                    <% @store.tamanhos.each do |tam| %>

                        <div <% if tam.id.to_s == session[:tamanho] %> class="active" <% end %> onclick="javascript: location.href = '<%= tamanho_path(tam.id) %>'" >
                            <img src="/images/icon-caixa.png" alt="Minha Caixa" title="Minha Caixa"><br>
                            <%= tam.name %>
                        </div>
                    <% end %>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="faixaFundo">Massa</p>
                    <div class="massas">
                        <div onclick="javascript: location.href='<%= massa_path('Fina') %>'">
                            <div <% if session[:massa] == 'Fina' %> class="fina active" <% else %> class="fina" <% end %>></div>
                            Fina
                        </div>
                        <div onclick="javascript: location.href='<%= massa_path('Média') %>'">
                            <div <% if session[:massa] == 'Média' %> class="media active" <% else %> class="media" <% end %> ></div>
                            Média
                        </div>
                        <div onclick="javascript: location.href='<%= massa_path('Grossa') %>'">
                            <div <% if session[:massa] == 'Grossa' %> class="active grossa" <% else %> class="grossa" <% end %> ></div>
                            Grossa 
                        </div>
                        <div onclick="javascript: location.href='<%= integral_path %>'">
                            <div <% if session[:integral] == '1' %> class="massaIntegral active" <% else %> class="massaIntegral" <% end %> ><img src="/images/arroz.png" alt="Pizza Prime" title="Pizza Prime"></div>
                            MASSA INTEGRAL
                        </div>
                    </div>
                </div>
                <div class="col-md-4 leftBorder">
                    <p class="faixaFundo">Borda</p>
                    <% if @store.borders.length > 0 %>
                        <p>Escolha a borda</p>
                        <select class="bordaSelect" onchange="javascript: location.href='borda/'+this.value">
                            <% @borda = Border.find(session[:borda]) %>
                            <%= content_tag(:option, @borda.name, value: @borda.id) %>
                            <% @store.borders.each do |border| %>
                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                            <% end %>
                        </select>
                    <% else %>
                        <p>Nenhuma opção disponível</p>
                    <% end %>
                </div>
            </div>
            <br>
            <br>
            <div class="center">
                <img src="/images/tradicionais.png" alt="Pizza Prime" title="Pizza Prime" id="tradicionais" class="imgResp" onclick="javascript: location.href='<%= cardapio_path %>'" >
            </div>
            <br>
            <% if params[:guia].blank? %>
            <div class="row pizzas">
            
                <% @store.pizzas.where(:category_name => 'Tradicionais').each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p.name %></p>
                        <p class="redDesc"><%= p.description %></p>
                        <div class="divider"></div>
                        <% preco = p.price_tables.where(:store_ids => @store.id.to_s, :tamanho_id => session[:tamanho]).first %>
                        <% if !preco.nil? %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> <%= number_to_currency(preco.price, unit: 'R$ ', separator: ',') %> </span>
                            </div>

                        <% else %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> EM FALTA </span>
                            </div>

                        <% end %>
                        
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <a href="#<%= p.id %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                <% end %>

                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p.id %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p.name %></h3>
                                            <br>
                                            <p><%= p.description %></p>
                                            <%= form_for :cart, url: add_cart_path do |f| %>
                                                <%= f.hidden_field :name, :value => p.name %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <%= content_tag(:option, @borda.name, value: @borda.id) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p.id %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @store.pizzas.each do |p| %>
                                                            <%= content_tag(:option, p[:name], value: p[:id]) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>
            
            </div>
            <% end %>
            <br>
            <div class="center">
                <img src="/images/especiais.png" onclick="javascript: location.href='<%= cardapio_path %>/Especiais'" alt="Pizza Prime" title="Pizza Prime" class="imgResp pointer">
            </div>
            <br>
            <div class="row pizzas">
            
                <% @store.pizzas.where(:category_name => 'Especiais' ).each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p.name %></p>
                        <p class="redDesc"><%= p.description %></p>
                        <div class="divider"></div>
                        <% preco = p.price_tables.where(:store_ids => @store.id.to_s, :tamanho_id => session[:tamanho]).first %>
                        <% if !preco.nil? %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> <%= number_to_currency(preco.price, unit: 'R$ ', separator: ',') %> </span>
                            </div>

                        <% else %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> EM FALTA </span>
                            </div>

                        <% end %>
                        
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <a href="#<%= p.id %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                <% end %>
                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p.id %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p.name %></h3>
                                            <br>
                                            <p><%= p.description %></p>
                                            <%= form_for :cart, url: add_cart_path do |f| %>
                                                <%= f.hidden_field :name, :value => p.name %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <%= content_tag(:option, @borda.name, value: @borda.id) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p.id %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @store.pizzas.each do |p| %>
                                                            <%= content_tag(:option, p[:name], value: p[:id]) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>
            
            </div>
            <div class="center">
                <img src="/images/primes.png" onclick="javascript: location.href='<%= cardapio_path %>/Primes'"  alt="Pizza Prime" title="Pizza Prime" class="imgResp pointer">
            </div>
            <br>
            
            <div class="row pizzas">
            
                <% @store.pizzas.where(:category_name => 'Primes' ).each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p.name %></p>
                        <p class="redDesc"><%= p.description %></p>
                        <div class="divider"></div>
                        <% preco = p.price_tables.where(:store_ids => @store.id.to_s, :tamanho_id => session[:tamanho]).first %>
                        <% if !preco.nil? %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> <%= number_to_currency(preco.price, unit: 'R$ ', separator: ',') %> </span>
                            </div>

                        <% else %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> EM FALTA </span>
                            </div>

                        <% end %>
                        
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <a href="#<%= p.id %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                <% end %>
                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p.id %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p.name %></h3>
                                            <br>
                                            <p><%= p.description %></p>
                                            <%= form_for :cart, url: add_cart_path do |f| %>
                                                <%= f.hidden_field :name, :value => p.name %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <%= content_tag(:option, @borda.name, value: @borda.id) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p.id %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @store.pizzas.each do |p| %>
                                                            <%= content_tag(:option, p[:name], value: p[:id]) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>
            
            </div>

            <div class="center">
                <img src="/images/doces.png" onclick="javascript: location.href='<%= cardapio_path %>/Sweet'"  alt="Pizza Prime" title="Pizza Prime" class="imgResp pointer">
            </div>
            <br>
            
            <div class="row pizzas">
                
                <% @store.sweet_pizzas.each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p.name %></p>
                        <p class="redDesc"><%= p.description %></p>
                        <div class="divider"></div>
                        <% preco = p.price_tables.where(:store_ids => @store.id.to_s, :tamanho_id => session[:tamanho]).first %>
                        <% if !preco.nil? %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> <%= number_to_currency(preco.price, unit: 'R$ ', separator: ',') %> </span>
                            </div>

                        <% else %>

                            <div class="box-preco">
                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> EM FALTA </span>
                            </div>

                        <% end %>
                        
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <a href="#<%= p.id %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                <% end %>
                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p.id %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p.name %></h3>
                                            <br>
                                            <p><%= p.description %></p>
                                            <%= form_for :cart, url: add_cart_path do |f| %>
                                                <%= f.hidden_field :name, :value => p.name %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <%= content_tag(:option, @borda.name, value: @borda.id) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p.id %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @store.pizzas.each do |p| %>
                                                            <%= content_tag(:option, p[:name], value: p[:id]) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>
            
            </div>
            
            <div class="center">
                <img src="/images/docesPrime.png" onclick="javascript: location.href='<%= cardapio_path %>/docesPrime'"  alt="Pizza Prime" title="Pizza Prime" class="imgResp pointer">
            </div>
            <br>
            <div class="center">
                <img src="/images/bebidas.png" alt="Pizza Prime" title="Pizza Prime" id="bebidas" class="imgResp">
            </div><br>
            <br>
            <div class="row center marginBebe">
                <div class="col-md-4 rightBorder">
                    <p class="faixaFundo">Produto</p>
                    <% @store.beverages.where(:available => true).each do |b| 
                        price = b.price_tables.where(:store_ids => @store.id).first
                        next if price.nil?
                        %>
                        <p class="nomeBebidas"><%= b.name %></p>
                    <% end %>
                </div>
                <div class="col-md-4">
                    <p class="faixaFundo">Valor</p>
                    <% @store.beverages.each do |b| %>
                        <% 
                        price = b.price_tables.where(:store_ids => @store.id).first
                        next if price.nil?
                        %>
                        <p class="nomeBebidas"><%= number_to_currency(price.price, unit: 'R$ ', separator: ',')  %></p>
                        
                    <% end %>
                </div>
                <div class="col-md-4 leftBorder">
                    
                    <p class="faixaFundo">Quantidade</p>
                    <div class="quatityBeve">
                        <% @store.beverages.each do |b| %>
                        <% 
                        price = b.price_tables.where(:store_ids => @store.id).first
                        next if price.nil?
                        if session[:bebidas].blank?
                        %>

                            <p data-id="<%= b.id %>" data-url="<%= request.url.gsub(request.fullpath, '') %>/bebidas/<%= price.price.to_i %>/<%= b.id %>" class="nomeBebidas selectBebe"><span class="left" onclick="bebeMenos(this)">-</span><i>0</i><span class="right" onclick="bebeMais(this)">+</span></p>
                        <% else %>
                            <% if session[:bebidas][b.id.to_s].nil? %>
                                <p data-id="<%= b.id %>" data-url="<%= request.url.gsub(request.fullpath, '') %>/bebidas/<%= price.price.to_i %>/<%= b.id %>" class="nomeBebidas selectBebe"><span class="left" onclick="bebeMenos(this)">-</span><i>0</i><span class="right" onclick="bebeMais(this)">+</span></p>
                            <% else %>
                                <p data-id="<%= b.id %>" data-url="<%= request.url.gsub(request.fullpath, '') %>/bebidas/<%= price.price.to_i %>/<%= b.id %>" class="nomeBebidas selectBebe"><span class="left" onclick="bebeMenos(this)">-</span><i><%= session[:bebidas][b.id.to_s]['qtd'] %></i><span class="right" onclick="bebeMais(this)">+</span></p>
                            <% end %>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
        <!-- FINAL DO CORPO DO CARDÁPIO -->

        <!-- MODALS -->
        <div id="login" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Faça seu Login</h4>
              </div>
              <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="center">
                        <p class="center">Faça seu login para continuar, <a href="<%= cadastre_path %>">Cadastre-se</a></p>
                        <p class="center">ou</p>
                        <img src="/images/facebook.png" style="cursor:pointer" onclick="location.href='<%= auth_provider_path %>'" alt="Pizza Prime Facebook" title="Pizza Prime Facebook"/>
                    </div>
                    <br>
                        <br>
                        <%= form_for :login, url: login_path do |f| %>
                            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %><br>
                            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %><br>
                            <%= f.submit 'Login', :class => 'btn btn-danger' %>
                        <% end %>
                    </div>             
                </div>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- FINAL MODALS -->

        <% if !flash[:alert].blank? %>
            <div id="flash" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mensagem do Sistema</h4>
                  </div>
                  <div class="modal-body">
                    
                    <div class="alert alert-danger"><%= flash[:alert] %></div>

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <%= flash[:alert] = nil %>
        <% end %>
        
        <% if !flash[:notice].blank? %>
            <div id="flash" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mensagem do Sistema</h4>
                  </div>
                  <div class="modal-body">
                    
                    <div class="alert alert-info"><%= flash[:notice] %></div>

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <%= flash[:notice] = nil %>
        <% end %>
        
        <%= render 'footer' %>

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script type="text/javascript" src="/js/untitled.js"></script>

        <script>
            $(document).ready( function(){ 

                var controller = new ScrollMagic.Controller();

                $('#flash').modal('show');

                var scene = new ScrollMagic.Scene({triggerElement: '#tradicionais', triggerHook: 0.7})
                    .setClassToggle(".tradicio", "black")
                    .addTo(controller); // final da scene var

                var scene = new ScrollMagic.Scene({triggerElement: '#bebidas', triggerHook: 0.7})
                    .setClassToggle(".marginBebe", "black")
                    .addTo(controller); // final da scene var

            });
        </script>
    </body>
</html>
