<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
        <%= render :partial => 'header', :locals => {:page => 'loja'} %>
        
        <div class="stores">
        	<div>
        		<div class="content center">
        			<ul class="states">
        				<% @states.each do |state| %>
        					<li <% if state == @selected %> class="active" <% end %> onclick="javascript: location.href='<%= busca_cidades_path(state) %>'">
                                <% 
                                
                                case state 
                                when 'SP'
                                    concat 'São Paulo'
                                when 'RJ'
                                    concat 'Rio de Janeiro'
                                when 'SC'
                                    concat 'Santa Catarina'
                                when 'RS'
                                    concat 'Rio Grande do Sul'
                                when 'PR'
                                    concat 'Paraná'
                                when 'AP'
                                    concat 'Amapá'
                                else
                                    concat ''
                                end
                                
                                %>
                            </li>
        				<% end %>
        			</ul>
                    <ul class="neighbor">
                        <% @neighborhood.each do |n| %>
                            <li <% if n.neighborhood == @neighbor %> class="active" <% end %> onclick="javascript: location.href='<%= cardapio_path(n.state,n.neighborhood,n.id,n.tamanhos.first.id) %>'" >	
                                <%= n.neighborhood %>
                            </li>
                        <% end %>
                    </ul>
        		</div>
        	</div>
        </div>
        <div class="content">
        	<div class="minha-caixa" onclick="location.href='<%= cart_path %>'">
        		<img src="/images/icon-caixa.png" alt="Minha Caixa" title="Minha Caixa">
        		Minha Caixa <span class="badge"> <% if session[:caixa].nil? %> 0 <% else %> <%= session[:caixa] %> <% end %> </span>
        	</div>
        	<br><br><br>
        	<div class="center">
        		<img src="/images/pin.png" alt="Local Pizza Prime" title="Local Pizza Prime">
        		<h2 class="unit-title">UNIDADE <%= @store.name %></h2>
        		<p class="unit-subtitle"><%= @store.address_full %> | DELIVERY - <%= @store.phone %> </p>
        	</div><br>
        	<br><br>
        	<div class="red-area">
        		<div class="borderas">
        			<h1 class="center cardapio-title">CARDÁPIO</h1>
        			<div class="tamanhos">
        				<img src="/images/boxwhite.png" alt="Minha Caixa" title="Minha Caixa">
        				<% @store.tamanhos.each do |t| %>
        					<div <% if @size == t.id.to_s %> class="active" <% end %> onclick="javascript: location.href='<%= cardapio_path(@selected,@neighbor,@id,t.id) %>'" >
	        					<% nome = t.name.split('(') %>
	        					<strong><%= nome[0] %></strong><br>
	        					(<%= nome[1] %>
	        				</div>
	        			<% end %>
        			</div>
        			<div class="center">
			            <br>
			            <br>
			            <span class="integral"><img src="/images/arroz.png" alt="Pizza Prime" title="Pizza Prime"> &nbsp; PEÇA SUA PIZZA COM MASSA INTEGRAL</span>
			            <br>
			            <br>
			        </div>
        		</div>
        		<div class="borderas2">
        			<div class="row pizzas">
        			<% mapa = Store.mapMenuPizzas(@store) %>
        				<% mapa[:pizzas].each do |map| %>
        					<div class="col-md-3">

        				   		<div class="img-pizza">
        				   			<img src="<%= map[:picture] %>" alt="<%= map[:name] %>" title="<%= map[:name] %>" >
        				   		</div> 

        				   		<p class="titulo-pizzas"><%= map[:name] %></p>
        				   		
        				   		<div class="divider"></div>
                                <% if map[:prices].length > 0 %>

                                    <% map[:prices].each do |p| %>
                                        <% if p[:size_id].to_s == @size %>
                                            <div class="box-preco">
                                                <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> <%= number_to_currency(p[:value], unit: 'R$ ', separator: ',') %> </span>
                                            </div>
                                            <% break %>
                                        <% end %>
                                    <% end %>

                                <% else %>

                                    <div class="box-preco">
                                        <span class="preco"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"> EM FALTA </span>
                                    </div>

                                <% end %>
        				   	    
                                <div class="center">
                                    <% if session[:logged].nil? %>
                                        <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                    <% else %>
                                        <a href="#<%= map[:id] %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                    <% end %>
                                </div>
                                <br>
        				   	</div>

                            <div id="<%= map[:id] %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= map[:picture] %>" alt="<%= map[:name] %>" title="<%= map[:name] %>" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= map[:name] %></h3>
                                            <br>
                                            <p><%= map[:description] %></p>
                                            <%= form_for :cart, url: add_cart_path do |f| %>
                                                <p>Escolha a borda</p>
                                                <%= f.select(:borders) do %>
                                                    <% mapa[:borders].each do |border| %>
                                                        <% if border[:sweet] == false %>
                                                            <%= content_tag(:option, border[:name]) %></p>
                                                        <% end %>
                                                    <% end %>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->


        				<% end %>
        			</div>
        		</div>
        		<div class="borderas3"></div>
        	</div>
        </div>

        <div id="login" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Faça seu Login</h4>
              </div>
              <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="center">
                        <p class="center">Faça seu login para continuar, <a>Cadastre-se</a></p>
                        <p class="center">ou</p>
                        <img src="/images/facebook.png" style="cursor:pointer" onclick="location.href='<%= auth_provider_path %>'" alt="Pizza Prime Facebook" title="Pizza Prime Facebook"/>
                    </div>
                    <br>
                        <br>
                        <%= form_for :login, url: login_path do |f| %>
                            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %><br>
                            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %><br>
                            <%= f.submit 'Login', :class => 'btn btn-danger' %>
                        <% end %>
                    </div>             
                </div>

                
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
