<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
        <%= render :partial => 'header', :locals => {:page => 'loja'} %>
        
        <!-- INICIO DA SEÇÃO DAS REGIÕES -->
        <div class="stores">
        	<div>
        		<div class="content center">
        			<ul class="states">
        				<% @states.each do |state| %>
        					<li <% if state == session[:store]['uf'] %> class="active" <% end %> >
                                <% 
                                
                                case state 
                                when 'SP'
                                    concat 'São Paulo'
                                when 'RJ'
                                    concat 'Rio de Janeiro'
                                when 'SC'
                                    concat 'Santa Catarina'
                                when 'RS'
                                    concat 'Rio Grande do Sul'
                                when 'PR'
                                    concat 'Paraná'
                                when 'AP'
                                    concat 'Amapá'
                                else
                                    concat ''
                                end
                                
                                %>
                            </li>
        				<% end %>
        			</ul>
                    <ul class="neighbor">
                        <% @neighborhood.each do |n| %>
                            <li <% if n.neighborhood == session[:store]['name'] %> class="active" <% end %> >	
                                <%= n.neighborhood %>
                            </li>
                        <% end %>
                    </ul>
        		</div>
        	</div>
        </div>
    <!-- FINAL DA SEÇÃO DAS REGIÕES -->


    <!-- CORPO DO CARDAPIO -->
        <div class="content">
        	<div class="minha-caixa" onclick="location.href='<%= cart_path %>'">
        		<img src="/images/icon-caixa.png" alt="Minha Caixa" title="Minha Caixa">
        		Minha Caixa <span class="badge"> <% if session[:caixa].nil? %> 0 <% else %> <%= session[:caixa] %> <% end %> </span>
        	</div>
            <br>
        	<div class="center">
        		<img src="/images/pin.png" alt="Local Pizza Prime" title="Local Pizza Prime">
        		<h2 class="unit-title">UNIDADE <%= @store.name %></h2>
        		<p class="unit-subtitle"><%= @store.address_full %> | DELIVERY - <%= @store.phone %> </p>
        	</div>
        	<h1 class="titleCardapio">Cardápio</h1>

            <div class="row center">
                <div class="col-md-4 rightBorder">
                    <p class="faixaFundo">Tamanho</p>
                    <div class="tamanhos">
                    <% @store.tamanhos.each do |tam| %>
                        <div>
                            <img src="/images/icon-caixa.png" alt="Minha Caixa" title="Minha Caixa"><br>
                            <%= tam.name %>
                        </div>
                    <% end %>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="faixaFundo">Massa</p>
                    <div class="massas">
                        <div>
                            <div class="fina"></div>
                            Fina
                        </div>
                        <div>
                            <div class="media"></div>
                            Média
                        </div>
                        <div>
                            <div class="grossa"></div>
                            Grossa
                        </div>
                        <div>
                            <div class="massaIntegral"><img src="/images/arroz.png" alt="Pizza Prime" title="Pizza Prime"></div>
                            MASSA INTEGRAL
                        </div>
                    </div>
                </div>
                <div class="col-md-4 leftBorder">
                    <p class="faixaFundo">Borda</p>
                    <% if @store.borders.length > 0 %>
                        <p>Escolha a borda</p>
                        <select class="bordaSelect">
                            <% @store.borders.each do |border| %>
                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                            <% end %>
                        </select>
                    <% else %>
                        <p>Nenhuma opção disponível</p>
                    <% end %>
                </div>
            </div>
            <br>
            <br>
            <div class="center">
                <img src="/images/tradicionais.png" alt="Pizza Prime" title="Pizza Prime" class="imgResp">
            </div>
            <br>
            <div class="row pizzas">
                <% @store.pizzas.where(:category_name => 'Tradicionais').each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="img-pizza">
                            <img src="<%= p.picture %>" alt="<%= p.name %>" title="<%= p.name %>" >
                        </div>
                        
                        <p class="titulo-pizzas"><%= p.name %></p>
                        <p class="redDesc"><%= p.description %></p>
                        <div class="divider"></div>
                        <br>
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <a href="#<%= p[:id] %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% end %>
                        </div>
                        <br>
                    </div>
                    
                <% end %>
            </div>
        </div>
        <!-- FINAL DO CORPO DO CARDÁPIO -->


        <!-- MODALS -->
        <div id="login" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Faça seu Login</h4>
              </div>
              <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="center">
                        <p class="center">Faça seu login para continuar, <a>Cadastre-se</a></p>
                        <p class="center">ou</p>
                        <img src="/images/facebook.png" style="cursor:pointer" onclick="location.href='<%= auth_provider_path %>'" alt="Pizza Prime Facebook" title="Pizza Prime Facebook"/>
                    </div>
                    <br>
                        <br>
                        <%= form_for :login, url: login_path do |f| %>
                            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %><br>
                            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %><br>
                            <%= f.submit 'Login', :class => 'btn btn-danger' %>
                        <% end %>
                    </div>             
                </div>

                
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- FINAL MODALS -->


        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
