<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
        <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1581601698520946'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1581601698520946&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

    </head>
    <body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60507233-1', 'auto');
  ga('send', 'pageview');

</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <%= render :partial => 'home/header', :locals => {:page => 'loja'} %><br>
        <br>
        <br>
        <br>
        <div class="content clear">   
            <h2 class="center">Minha Caixa</h2>
            <% if session[:caixa].nil? %>

                <br>
                <div class="alert alert-warning center" > Você ainda não possui pizzas adicionadas ao carrinho </div>

            <% else %>
                <%
                    total = 0
                %>

                <br>
                <p><strong><%= session[:name] %>, </strong> você possui <%= pluralize(session[:caixa], 'produto adicionado', 'produtos adicionados' ) %></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Quantidade</th>
                            <th>Tamanho</th>
                            <th>Pizza</th>
                            <th>Massa</th>
                            <th>Borda</th>
                            <th>Integral</th>
                            <th>2º Sabor</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                <% if !session[:pizzas].nil? %>
                <% session[:pizzas].each do |p|  %>
                    <% 
                    pizza = Pizza.find(p[1]['tastes'][0]['id']) 
                    border = Border.find(p[1]['border_id'])
                    tamanho = Tamanho.find(p[1]['size_id'])
                    pedido_total = 0

                    border.price_tables.where(:tamanho_id => p[1]['size_id'], :store_ids => session[:store]['id']).each do |b| 
                        pedido_total += b.price
                    end

                    if p[1]['tastes'].length > 1

                        value1 = 0
                        value2 = 0
                        pizza22 = Pizza.find(p[1]['tastes'][1]['id'])

                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :pizza_id => p[1]['tastes'][0]['id'], :store_ids => session[:store]['id']).each do |t|
                            value1 = t.price
                        end
                        pizza22.price_tables.where(:tamanho_id => p[1]['size_id'], :pizza_id => p[1]['tastes'][1]['id'], :store_ids => session[:store]['id']).each do |t|
                            value2 = t.price
                        end
                        
                        if value1 > value2
                            pedido_total += value1
                        else
                            pedido_total += value2
                        end


                    else    

                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :pizza_id => p[1]['tastes'][0]['id'], :store_ids =>session[:store]['id']).each do |t|
                            pedido_total += t.price
                        end

                    end

                    pedido_total = pedido_total * p[1]['quantity']

                    if p[1]['integral'] == true
                        pedido_total += pizza.stores.where(:id => session[:store]['id']).first.integral
                    end

                    total += pedido_total
                    %>
                    <tr>
                        <td><%= p[1]['quantity'] %></td>
                        <td><%= tamanho.name %></td>
                        <td><%= p[0] %></td>
                        <td><%= p[1]['pasta'] %></td>
                        <td><%= border[:name] %></td>
                        <td><% if p[1]['integral'] == true %> Sim <% else %> Não <% end %></td>
                        <td>
                            
                            <% if p[1]['tastes'].length > 1 %> 

                                <% pizza2 = Pizza.find(p[1]['tastes'][1]['id']) %>

                                <%= pizza2[:name] %>

                            <% else %> N/S <% end %>
                            
                        </td>
                        <td><%= number_to_currency(pedido_total, unit: 'R$ ', separator: ',') %></td>
                        <td>
                            <i class="fa fa-pencil fa-2x" data-toggle="modal" data-target="#<%= pizza.id %>" style="cursor:pointer" ></i>
                            &nbsp; &nbsp;
                            <i class="fa fa-trash fa-2x" style="cursor:pointer" onclick="location.href='<%= del_path(p[0]) %>'"></i>
                        </td>
                    </tr>
                    

                    <div id="<%= pizza.id %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Editar Produto</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= pizza.picture %>" alt="<%= pizza.name %>" title="<%= pizza.name %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= pizza.name %></h3>
                                            <br>
                                            <p><%= pizza.description %></p>
                                            <%= form_for :cart, url: edit_cart_path do |f| %>
                                                <%= f.hidden_field :name, :value => pizza.name %>
                                                <%= f.hidden_field :size, :value => tamanho.id %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <%= content_tag(:option, border[:name], value: border[:id].to_s) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => p[1]['quantity'] %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, p[1]['pasta']) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if p[1]['integral'] == true %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações', :value => p[1]['obs'] %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p[1]['tastes'][0]['id'] %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <% if p[1]['tastes'].length > 1 %> 

                                                            <% pizza2 = Pizza.find(p[1]['tastes'][1]['id']) %>

                                                             <%= content_tag(:option, pizza2[:name], value: pizza2[:id].to_s) %>

                                                        <% else %> 
                                                           <%= content_tag(:option, '2º Sabor', value: 'none') %>

                                                        <% end %>
                                                        
                                                        <% @store.pizzas.each do |p| %>
                                                            <%= content_tag(:option, p[:name], value: p[:id]) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Editar Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->



                <% end %>
                <% end %>
                <% if !session[:sweet_pizzas].nil? %>
                <% session[:sweet_pizzas].each do |p|  %>
                    <% 
                    pizza = SweetPizza.find(p[1]['tastes'][0]['id']) 
                    border = Border.find(p[1]['border_id'])
                    tamanho = Tamanho.find(p[1]['size_id'])
                    pedido_total = 0

                    border.price_tables.where(:tamanho_id => p[1]['size_id'], :store_ids => session[:store]['id']).each do |b| 
                        pedido_total += b.price
                    end

                    if p[1]['tastes'].length > 1

                        value1 = 0
                        value2 = 0
                        pizza22 = SwwetPizza.find(p[1]['tastes'][1]['id'])

                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :sweet_pizza_id => p[1]['tastes'][0]['id'], :store_ids => session[:store]['id']).each do |t|
                            value1 = t.price
                        end
                        pizza22.price_tables.where(:tamanho_id => p[1]['size_id'], :sweet_pizza_id => p[1]['tastes'][1]['id'], :store_ids => session[:store]['id']).each do |t|
                            value2 = t.price
                        end
                        
                        if value1 > value2
                            pedido_total += value1
                        else
                            pedido_total += value2
                        end


                    else

                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :sweet_pizza_id => p[1]['tastes'][0]['id'], :store_ids =>session[:store]['id']).each do |t|
                            pedido_total += t.price
                        end

                    end

                    pedido_total = pedido_total * p[1]['quantity']

                    if p[1]['integral'] == true
                        pedido_total += pizza.stores.where(:id => session[:store]['id']).first.integral
                    end

                    total += pedido_total
                    %>
                    <tr>
                        <td><%= p[1]['quantity'] %></td>
                        <td><%= tamanho.name %></td>
                        <td><%= p[0] %></td>
                        <td><%= p[1]['pasta'] %></td>
                        <td><%= border[:name] %></td>
                        <td><% if p[1]['integral'] == true %> Sim <% else %> Não <% end %></td>
                        <td>
                            
                            <% if p[1]['tastes'].length > 1 %> 

                                <% pizza2 = Pizza.find(p[1]['tastes'][1]['id']) %>

                                <%= pizza2[:name] %>

                            <% else %> N/S <% end %>
                            
                        </td>
                        <td><%= number_to_currency(pedido_total, unit: 'R$ ', separator: ',') %></td>
                        <td>
                            <i class="fa fa-pencil fa-2x" data-toggle="modal" data-target="#<%= pizza.id %>" style="cursor:pointer" ></i>
                            &nbsp; &nbsp;
                            <i class="fa fa-trash fa-2x" style="cursor:pointer" onclick="location.href='<%= sweet_del_path(p[0]) %>'"></i>
                        </td>
                    </tr>
                    

                    <div id="<%= pizza.id %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Editar Produto</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= pizza.picture %>" alt="<%= pizza.name %>" title="<%= pizza.name %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= pizza.name %></h3>
                                            <br>
                                            <p><%= pizza.description %></p>
                                            <%= form_for :cart, url: edit_sweet_path do |f| %>
                                                <%= f.hidden_field :name, :value => pizza.name %>
                                                <%= f.hidden_field :size, :value => tamanho.id %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <%= content_tag(:option, border[:name], value: border[:id].to_s) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => p[1]['quantity'] %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, p[1]['pasta']) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if p[1]['integral'] == true %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações', :value => p[1]['obs'] %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p[1]['tastes'][0]['id'] %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <% if p[1]['tastes'].length > 1 %> 

                                                            <% pizza2 = SweetPizza.find(p[1]['tastes'][1]['id']) %>

                                                             <%= content_tag(:option, pizza2[:name], value: pizza2[:id].to_s) %>

                                                        <% else %> 
                                                           <%= content_tag(:option, '2º Sabor', value: 'none') %>

                                                        <% end %>
                                                        
                                                        <% @store.sweet_pizzas.each do |p| %>
                                                            <%= content_tag(:option, p[:name], value: p[:id]) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Editar Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->



                <% end %>
                <% end %>
                    </tbody>

                </table>
                <br>

                <% if !session[:bebidas].blank? %>
                    <hr>
                    <h3 class="center">Bebidas</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Quantidade</th>
                                <th>Thumb</th>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th></th>
                            </tr>
                        </thead>                        
                        <tbody>
                            <% session[:bebidas].each do |key, value| %>
                                <% @bebida = Beverage.find(key) %>
                                <% bebidaValor = value['price'].to_i * value['qtd'].to_i %>
                                <% total += bebidaValor %>
                                <tr>
                                    <td><%= value['qtd'] %></td>
                                    <td><img src="<%= @bebida.picture %>" alt="Pizza Prime" title="Pizza Prime" style="width:100px" /></td>
                                    <td><%= @bebida.name %></td>
                                    <td><%= number_to_currency(bebidaValor, unit: 'R$ ', separator: ',') %></td>
                                    <td>
                                        <i class="fa fa-trash fa-2x" style="cursor:pointer" onclick="location.href='<%= bebemenos_path(key) %>'"></i>
                                    </td>
                                </tr>    
                            <% end %>
                        </tbody>
                    </table>

                <% end %>


                <% if !session[:combo].blank? %>

                    <% session[:combo].each do |combo| %>
                        <% 
                        RestClient.get('http://pizzaprime.herokuapp.com/webservices/stores/findCombo', { :params => {  combo_id: combo['id'], store_id: session[:store]['id']  },  :cookies => { '_session_id' => cookies[:session_id] }  } ){ |response, request, result, &block|
                          if response.code == 340
                            @com = nil
                          elsif response.code == 401
                            @com = nil
                          elsif response.code == 500
                            @com = nil
                          else
                            @com = JSON.parse(response.body)
                          end

                        }
                        %>
                        <div>
                            <% if @com.nil? %>
                                <h3>Não foi possivel checar o combo, Tente novamente mais tarde</h3>
                            <% else %>

                                <h3><%= @com['title'] %></h3>
                                <% if !combo['pizzas'].nil? %>
                                    <% combo['pizzas'].each do |pi| %>
                                        <% if pi['tastes'].length > 1 %>
                                            <% pizza1 = Pizza.find(pi['tastes'][0]['id']) %>
                                            <% pizza2 = Pizza.find(pi['tastes'][1]['id']) %>
                                            <p><strong>Pizza: </strong> <%= pizza1.name %> / <%= pizza2.name %></p>
                                        <% else %>
                                            <% pizza1 = Pizza.find(pi['tastes'][0]['id']) %>
                                            <p><strong>Pizza:</strong> <%= pizza1.name %></p>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <% if @com['pizzas']['quantity'] > 0 %>
                                        <a href="<%= combo_path(combo['id']) %>" style="color:red"><strong>Falta escolher <%= pluralize(@com['pizzas']['quantity'], 'pizza', 'pizzas' ) %></strong></a><br>
                                    <% end %>
                                <% end %>
                                <% if !combo['sweet_pizzas'].nil? %>
                                    <% combo['sweet_pizzas'].each do |pi| %>
                                        <% if pi['tastes'].length > 1 %>
                                            <% pizza1 = SweetPizza.find(pi['tastes'][0]['id']) %>
                                            <% pizza2 = SweetPizza.find(pi['tastes'][1]['id']) %>
                                            <p><strong>Pizza: </strong> <%= pizza1.name %> / <%= pizza2.name %></p>
                                        <% else %>
                                            <% pizza1 = SweetPizza.find(pi['tastes'][0]['id']) %>
                                            <p><strong>Pizza:</strong> <%= pizza1.name %></p>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <% if @com['sweet_pizzas']['quantity'] > 0 %>
                                        <a href="<%= combo_path(combo['id']) %>" style="color:red"><strong>Falta escolher <%= pluralize(@com['sweet_pizzas']['quantity'], 'pizza doce', 'pizzas doce' ) %></strong></a><br>
                                    <% end %>
                                <% end %>
                                <% if !combo['beverages'].nil? %>
                                    <% combo['beverages'].each do |pi| %>
                                        
                                        <% pizza1 = Beverage.find(pi['id']) %>
                                        <p><strong>Bebida:</strong> <%= pizza1.name %></p>
                                        
                                    <% end %>
                                <% else %>
                                    <% if @com['beverages']['quantity'] > 0 %>
                                        <a href="<%= combo_path(combo['id']) %>" style="color:red"><strong>Falta escolher <%= pluralize(@com['beverages']['quantity'], 'bebida', 'bebidas' ) %></strong></a><br>
                                    <% end %>
                                <% end %>

                                <% total += @com['amount'] %>
                                <br>
                                <a class="btn btn-danger btn-xs" href="<%= remove_combo_path(combo['id']) %>"><i class="fa fa-trash"></i> &nbsp; remover combo</a>

                            <% end %>
                        </div>

                    <% end %>

                <% end %>

                <div class="text-right">
                    <h3>Total: <%= number_to_currency(total, unit: 'R$ ', separator: ',') %></h3>
                    <br>
                    <button class="btn btn-primary" onclick="location.href='<%= checkout_path %>'">Finalizar Compra</button>
                </div>
                

            <% end %>



            <br>
            <div class="center">
                <button class="btn btn-default" onclick="location.href='<%= cardapio_path %>'">Voltar a Loja</button>
                <button class="btn btn-default" onclick="location.href='<%= limparcart_path %>'">Limpar Carrinho</button>
            </div>

        </div><br>
        <br><br><br>
       <%= render 'home/footer' %>

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
      <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/06c0c772-6f76-429f-8082-c86ab41812f5-loader.js" ></script>
    </body>
</html>
