<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
    	<div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <%= render :partial => 'header', :locals => {:page => 'loja'} %><br>
        <br>
        <br>
        <br>
        <div class="content">
            <h2 class="center">Finalizar Compra</h2>
            <% if flash[:notice] %>
            	<div class="alert alert-info center"><%= flash[:notice] %></div>
            <% end %>
            <% if session[:caixa].nil? %>

                <br>
                <script>
                	location.href = "<%= cardapio_path %>"
                </script>
                
            <% else %>
                <%
                    total = 0
                %>
                <br>
                <div class="row">
	                <div class="resumo col-md-6">
	                	<h3 class="center">Resumo</h3>
	                	<hr>
	                <% if !session[:pizzas].nil? %>
	                <% session[:pizzas].each do |p|  %>
	                    <% 
	                    pizza = Pizza.find(p[1]['tastes'][0]['id']) 
	                    border = Border.find(p[1]['border_id'])
	                    tamanho = Tamanho.find(p[1]['size_id'])
	                    pedido_total = 0

	                    border.price_tables.where(:tamanho_id => p[1]['size_id'], :store_ids => session[:store]['id']).each do |b| 
	                        pedido_total += b.price
	                    end

	                    if p[1]['tastes'].length > 1

	                        value1 = 0
	                        value2 = 0
	                        pizza22 = Pizza.find(p[1]['tastes'][1]['id'])

	                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :pizza_id => p[1]['tastes'][0]['id'], :store_ids => session[:store]['id']).each do |t|
	                            value1 = t.price
	                        end
	                        pizza22.price_tables.where(:tamanho_id => p[1]['size_id'], :pizza_id => p[1]['tastes'][1]['id'], :store_ids => session[:store]['id']).each do |t|
	                            value2 = t.price
	                        end
	                        
	                        if value1 > value2
	                            pedido_total += value1
	                        else
	                            pedido_total += value2
	                        end


	                    else    

	                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :pizza_id => p[1]['tastes'][0]['id'], :store_ids => session[:store]['id']).each do |t|
	                            pedido_total += t.price
	                        end

	                    end

	                        

	                    pedido_total = pedido_total * p[1]['quantity']

	                    if p[1]['integral'] == true
	                        pedido_total += pizza.stores.where(:id => session[:store]['id']).first.integral
	                    end

	                    total += pedido_total
	                    %>
	                    <!-- RESUMO DE CADA PEDIDO -->
	                    <% if p[1]['tastes'].length > 1 %>
	                    	<p><strong>Qtd:</strong> <%= p[1]['quantity'] %> - <strong>Pizza:</strong>  <%= p[0] %> + <%= pizza22[:name] %> - <%= tamanho[:name] %></p>
	                    <% else %>
	                    	<p><strong>Qtd:</strong> <%= p[1]['quantity'] %> - <strong>Pizza:</strong>  <%= p[0] %> - <%= tamanho[:name] %></p>
	                    <% end %>
	                    <p><strong>Borda: </strong> <%= border[:name] %></p>
	                    <p><strong>Preço: </strong> <%= number_to_currency(pedido_total, unit: 'R$ ', separator: ',') %></p>
	                    <hr>

	                <% end %>
	                <% end %>

	                <% if !session[:sweet_pizzas].nil? %>
	                <% session[:sweet_pizzas].each do |p|  %>
	                    <% 
	                    pizza = SweetPizza.find(p[1]['tastes'][0]['id']) 
	                    border = Border.find(p[1]['border_id'])
	                    tamanho = Tamanho.find(p[1]['size_id'])
	                    pedido_total = 0

	                    border.price_tables.where(:tamanho_id => p[1]['size_id'], :store_ids => session[:store]['id']).each do |b| 
	                        pedido_total += b.price
	                    end

	                    if p[1]['tastes'].length > 1

	                        value1 = 0
	                        value2 = 0
	                        pizza22 = SweetPizza.find(p[1]['tastes'][1]['id'])

	                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :sweet_pizza_id => p[1]['tastes'][0]['id'], :store_ids => session[:store]['id']).each do |t|
	                            value1 = t.price
	                        end
	                        pizza22.price_tables.where(:tamanho_id => p[1]['size_id'], :sweet_pizza_id => p[1]['tastes'][1]['id'], :store_ids => session[:store]['id']).each do |t|
	                            value2 = t.price
	                        end
	                        
	                        if value1 > value2
	                            pedido_total += value1
	                        else
	                            pedido_total += value2
	                        end


	                    else    

	                        pizza.price_tables.where(:tamanho_id => p[1]['size_id'], :sweet_pizza_id => p[1]['tastes'][0]['id'], :store_ids => session[:store]['id']).each do |t|
	                            pedido_total += t.price
	                        end

	                    end

	                        

	                    pedido_total = pedido_total * p[1]['quantity']

	                    if p[1]['integral'] == true
	                        pedido_total += pizza.stores.where(:id => session[:store]['id']).first.integral
	                    end

	                    total += pedido_total
	                    %>
	                    <!-- RESUMO DE CADA PEDIDO -->
	                    <% if p[1]['tastes'].length > 1 %>
	                    	<p><strong>Qtd:</strong> <%= p[1]['quantity'] %> - <strong>Pizza:</strong>  <%= p[0] %> + <%= pizza22[:name] %> - <%= tamanho[:name] %></p>
	                    <% else %>
	                    	<p><strong>Qtd:</strong> <%= p[1]['quantity'] %> - <strong>Pizza:</strong>  <%= p[0] %> - <%= tamanho[:name] %></p>
	                    <% end %>
	                    <p><strong>Borda: </strong> <%= border[:name] %></p>
	                    <p><strong>Preço: </strong> <%= number_to_currency(pedido_total, unit: 'R$ ', separator: ',') %></p>
	                    <hr>

	                <% end %>
	                <% end %>
	                
	                <% if !session[:bebidas].blank? %>

	                	<h4 class="center">Bebidas</h4>

	                	<% session[:bebidas].each do |key, b| %>

	                		<% bebe = Beverage.find(key) %>
	                		<p><strong>Bebida:</strong> <%= bebe.name %> - <strong>Qtd: </strong> <%= b['qtd'] %></p>
	                		<% preco = b['qtd'].to_i * b['price'].to_i %>
	                		<p><strong>Preço: </strong> <%= number_to_currency(preco, unit: 'R$ ', separator: ',') %></p>
	                		<% total += preco %>

	                	<% end %>

	                <% end %>

	                <% if !session[:combo].blank? %>

                    <% session[:combo].each do |combo| %>
                        <% 
                        RestClient.get('http://pizzaprime.herokuapp.com/webservices/stores/findCombo', { :params => {  combo_id: combo['id'], store_id: session[:store]['id']  },  :cookies => { '_session_id' => cookies[:session_id] }  } ){ |response, request, result, &block|
                          if response.code == 340
                            @com = nil
                          elsif response.code == 401
                            @com = nil
                          elsif response.code == 500
                            @com = nil
                          else
                            @com = JSON.parse(response.body)
                          end

                        }
                        %>
                        <div>
                            <% if @com.nil? %>
                                <h3>Não foi possivel checar o combo, Tente novamente mais tarde</h3>
                            <% else %>
                            	
                                <h3><%= @com['title'] %></h3>
                                <% if !combo['pizzas'].nil? %>
                                    <% combo['pizzas'].each do |pi| %>
                                        <% if pi['tastes'].length > 1 %>
                                            <% pizza1 = Pizza.find(pi['tastes'][0]['id']) %>
                                            <% pizza2 = Pizza.find(pi['tastes'][1]['id']) %>
                                            <p><strong>Pizza: </strong> <%= pizza1.name %> / <%= pizza2.name %></p>
                                        <% else %>
                                            <% pizza1 = Pizza.find(pi['tastes'][0]['id']) %>
                                            <p><strong>Pizza:</strong> <%= pizza1.name %></p>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if !combo['sweet_pizzas'].nil? %>
                                    <% combo['sweet_pizzas'].each do |pi| %>
                                        <% if pi['tastes'].length > 1 %>
                                            <% pizza1 = SweetPizza.find(pi['tastes'][0]['id']) %>
                                            <% pizza2 = SweetPizza.find(pi['tastes'][1]['id']) %>
                                            <p><strong>Pizza: </strong> <%= pizza1.name %> / <%= pizza2.name %></p>
                                        <% else %>
                                            <% pizza1 = SweetPizza.find(pi['tastes'][0]['id']) %>
                                            <p><strong>Pizza:</strong> <%= pizza1.name %></p>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if !combo['beverages'].nil? %>
                                    <% combo['beverages'].each do |pi| %>
                                        
                                        <% pizza1 = Beverage.find(pi['id']) %>
                                        <p><strong>Bebida:</strong> <%= pizza1.name %></p>
                                        
                                    <% end %>
                                <% end %>

                                <% total += @com['amount'] %>

                            <% end %>
                        </div>

                    <% end %>

                <% end %>
	                
	                   </div>
	                   <div class="col-md-6">
	                   		<h3>Informações de Pagamento e Entrega</h3>
	                   		<hr>
	                   		<%= form_for :checkout, url: checkout_confirm_path do |f| %>
	                   			<p>Forma de Pagamento:</p>
	                   			<% if @cards.length < 1 %>

		                   			<%= f.select(:payment, {}, {}, {:class => 'form-control'}) do %>
		                   				<% @store.payments.each do |pay| %>
		                   					<% if pay.is_app != true %>
			                   					<%= content_tag(:option, pay.name, value: pay.id ) %>
			                   				<% end %>
			                   			<% end %>
		                   			<% end %>

	                   			<% else %>

	                   				<%= f.select(:payment, {}, {}, {:class => 'form-control'}) do %>
		                   				<% @store.payments.each do |pay| %>
			                   				<%= content_tag(:option, pay.name, value: pay.id ) %>
			                   			<% end %>
		                   			<% end %>
		                   			<br>
		                   			<p>Selecione seu Cartão:</p>
		                   			<%= f.select(:card, {}, {}, {:class => 'form-control'}) do %>
		                   				<% @cards.each do |c| %>
		                   					<%= content_tag(:option, c['name'], value: c['id'] ) %>
		                   				<% end %>
		                   			<% end %>

	                   			<% end %>

                   				<br>
                   				<p>Endereço de entrega:</p>
                   				<%= f.select(:address, {}, {}, {:class => 'form-control'}) do %>
                   					<%= content_tag(:option,  session[:user]['logradouro'] + ' - ' + session[:user]['number'] + ' - ' + session[:user]['localidade'] + ' - ' + session[:user]['uf'], value: session[:address_id] ) %>
                   					<%= content_tag(:option, 'Retirada na Loja') %>
                   				<% end %>
	                   			<br>
	                   			<p>Observações:</p>
	                   			<%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
	                   			<div class="text-right">
	                   				<% if !session[:coupon].nil? %>
	                   				<br>
	                   				<div>
	                   					Cupom de desconto: <%= session[:coupon]['name'] %><br>
	                   					Desconto: <%= number_to_percentage(session[:coupon]['discount'] * 100, precision: 1, strip_insignificant_zeros: true) %>	
	                   				</div>
	                   					<% total =  session[:coupon]['discount'] * total %>
	                   				<% end %>
		                   			<h3>Total: <%= number_to_currency(total, unit: 'R$ ', separator: ',') %></h3>
	                    			<br>
	                    			<button type="button" data-toggle="modal" data-target="#cupom" class="btn btn-info">Aplicar cupom de desconto</button>
	                    			<%= f.submit 'Finalizar Compra', :class => 'btn btn-success' %>
                    			</div>

	                   		<% end %>
	                   </div>
                   </div>

                   <div id="cupom" class="modal fade" tabindex="-1" role="dialog">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">Aplicar cupom de desconto</h4>
					      </div>
					      <%= form_for :coupon, url: applycoupon_path() do |f| %>
					      <div class="modal-body">
					        <p>Cupom:</p>
					        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Cupom' %>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					        <%= f.submit 'Aplicar Cupom', :class => 'btn btn-primary' %>
					      </div>
					      <% end %>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

                <div> 
                </div>
                

            <% end %>

            <br>
            <div class="center">
                <button class="btn btn-default" onclick="location.href='<%= cardapio_path(session[:state],session[:neighbor],session[:id],session[:size]) %>'">Voltar a Loja</button>
            </div>

        </div>
       <br><br>
       <%= render 'footer' %>


        <% if !flash[:alert].blank? %>
            <div id="flash" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mensagem do Sistema</h4>
                  </div>
                  <div class="modal-body">
                    
                    <div class="alert alert-danger"><%= flash[:alert] %></div>

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <%= flash[:alert] = nil %>
        <% end %>
        
        <% if !flash[:notice].blank? %>
            <div id="flash" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mensagem do Sistema</h4>
                  </div>
                  <div class="modal-body">
                    
                    <div class="alert alert-info"><%= flash[:notice] %></div>

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <%= flash[:notice] = nil %>
        <% end %>
        

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
      
    </body>
</html>
