<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>
        
        <title>Pizza Prime</title>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <%= render :partial => 'header', :locals => {:page => 'loja'} %>
        
        <div class="stores">
        	<div>
        		<div class="content center">
        			<ul class="states">
        				<% @states.each do |state| %>
        					<li onclick="location.href='<%= cardapio_state_path(state) %>'">
                                <%
                                
                                case state
                                when 'SP'
                                    concat 'São Paulo'
                                when 'RJ'
                                    concat 'Rio de Janeiro'
                                when 'SC'
                                    concat 'Santa Catarina'
                                when 'RS'
                                    concat 'Rio Grande do Sul'
                                when 'PR'
                                    concat 'Paraná'
                                when 'AP'
                                    concat 'Amapá'
                                else
                                    concat ''
                                end
                                
                                %>
                            </li>
        				<% end %>
        			</ul>
        		</div>
        	</div>
        </div>
        <div class="content">
        <div class="row content text-center">
            <div class="col-md-12">
                <h2 class="fundo-faixa"><%= @combo['title'] %></h2>
                <div><%= @combo['subtitle'] %></div>
                <div style="font-size:26px"><%= number_to_currency(@combo['amount'], :separator => ',', :unit => 'R$ ') %></div>
            </div>
        </div><br>
        <br>
        <div class="row pizzas">
                
                <% @combo['pizzas']['pizzas'].each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p['name'] %></p>
                        <p class="redDesc"><%= p['description'] %></p>
                        <br>
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <% if session[:address_id].nil? %>
                                        <a href="#" onclick="alert('Nenhum endereço disponível, por favor complete seu cadastro em Meu Perfil e tente novamente!')" class="btn btn-ok">EU QUERO</a>
                                    <% else %>
                                        <a href="#<%= p['id'] %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                    <% end %>
                                <% end %>

                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p['id'] %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p['name'] %></h3>
                                            <br>
                                            <p><%= p['description'] %></p>
                                            <%= form_for :cart, url: add_combo_path do |f| %>
                                                <%= f.hidden_field :name, :value => p['name'] %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <% if !@combo['border'].blank? %>
                                                                <% @combo['borders'].each do |border| %>
                                                                    <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p['id'] %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @combo['pizzas']['pizzas'].each do |p| %>
                                                            <%= content_tag(:option, p['name'], value: p['id']) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>
            

                <% @combo['sweet_pizzas']['sweet_pizzas'].each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p['name'] %></p>
                        <p class="redDesc"><%= p['description'] %></p>
                        <br>
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <% if session[:address_id].nil? %>
                                        <a href="#" onclick="alert('Nenhum endereço disponível, por favor complete seu cadastro em Meu Perfil e tente novamente!')" class="btn btn-ok">EU QUERO</a>
                                    <% else %>
                                        <a href="#<%= p['id'] %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                    <% end %>
                                <% end %>

                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p['id'] %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p['name'] %></h3>
                                            <br>
                                            <p><%= p['description'] %></p>
                                            <%= form_for :cart, url: add_combo_path do |f| %>
                                                <%= f.hidden_field :name, :value => p['name'] %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <% @borda = Border.find(session[:borda]) %>
                                                            <%= content_tag(:option, @borda.name, value: @borda.id) %>
                                                            <% @store.borders.each do |border| %>
                                                                <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p['id'] %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @combo['sweet_pizzas']['sweet_pizzas'].each do |p| %>
                                                            <%= content_tag(:option, p['name'], value: p['id']) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>


            </div>


            <br>
            <div class="center">
                <img src="/images/bebidas.png" alt="Pizza Prime" title="Pizza Prime" id="bebidas" class="imgResp">
            </div><br>
            <br>
            <div class="row center marginBebe">
                <div class="col-md-4 rightBorder">
                    <p class="faixaFundo">Produto</p>
                    <% @combo['beverages']['beverages'].each do |b| %>
                        <p class="nomeBebidas"><%= b['name'] %></p>
                    <% end %>
                </div>
                <div class="col-md-4">
                    <p class="faixaFundo">Valor</p>
                </div>
                <div class="col-md-4 leftBorder">
                    
                    <p class="faixaFundo">Quantidade</p>
                    <div class="quatityBeve">
                        <% @combo['beverages']['beverages'].each do |b| %>

                            <p data-id="<%= b['id'] %>" data-url="<%= request.url.gsub(request.fullpath, '') %>/bebidas/afe/<%= b['id'] %>" class="nomeBebidas selectBebe"><span class="left" onclick="bebeMenos(this)">-</span><i>0</i><span class="right" onclick="bebeMais(this)">+</span></p>
                        <% end %>
                    </div>
                </div>
            </div>


            </div>
        <%= render 'footer' %>

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script type="text/javascript" src="/js/untitled.js"></script>

        <script>
            $(document).ready( function(){ 

                var controller = new ScrollMagic.Controller();
                $('#selend').modal('show');
                $('#flash').modal('show');

                var scene = new ScrollMagic.Scene({triggerElement: '#tradicionais', triggerHook: 0.7})
                    .setClassToggle(".tradicio", "black")
                    .addTo(controller); // final da scene var

                var scene = new ScrollMagic.Scene({triggerElement: '#bebidas', triggerHook: 0.7})
                    .setClassToggle(".marginBebe", "black")
                    .addTo(controller); // final da scene var

            });
        </script>
    </body>
</html>
