<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>
        
        <title>Pizza Prime</title>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <%= render :partial => 'header', :locals => {:page => 'loja'} %>
        
        <div class="stores">
        	<div>
        		<div class="content center">
        			<ul class="states">
        				<% @states.each do |state| %>
        					<li onclick="location.href='<%= cardapio_state_path(state) %>'">
                                <%
                                
                                case state
                                when 'SP'
                                    concat 'São Paulo'
                                when 'RJ'
                                    concat 'Rio de Janeiro'
                                when 'SC'
                                    concat 'Santa Catarina'
                                when 'RS'
                                    concat 'Rio Grande do Sul'
                                when 'PR'
                                    concat 'Paraná'
                                when 'AP'
                                    concat 'Amapá'
                                else
                                    concat ''
                                end
                                
                                %>
                            </li>
        				<% end %>
        			</ul>
        		</div>
        	</div>
        </div>
        <div class="content">
                <div class="minha-caixa" onclick="location.href='<%= cart_path %>'">
                  <img src="/images/icon-caixa.png" alt="Minha Caixa" title="Minha Caixa">
                  Minha Caixa <span class="badge"> <% if session[:caixa].nil? %> 0 <% else %> <%= session[:caixa] %> <% end %> </span>

               </div>
        <div class="row content text-center">
            <div class="col-md-12">

                <h2 class="fundo-faixa"><%= @combo['title'] %></h2>

                <% if flash[:notice] %>
                    <div class="alert alert-info"><%= flash[:notice] %></div>
                <% end %>
                
                <div><%= @combo['subtitle'] %></div>
                <div style="font-size:26px"><%= number_to_currency(@combo['amount'], :separator => ',', :unit => 'R$ ') %></div>
                <br>
                <div class="barraCombo row">
                <% if session[:combo].nil? %>
                    <% combo = nil %>
                <% else %>
                    <% combo = session[:combo].find { |x| x['id'] == @combo['id'] } %>
                    <a href="<%= remove_combo_path(combo['id']) %>" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> &nbsp; Remover Combo</a>
                    <br><br>
                <% end %>
                
                
                    <% if @combo['pizzas']['quantity'] > 0 %>
                        <div class="col-md-3">
                            <div class="info-box" >
                                <span class="info-box-icon" style="background-color:#a12327; color:#fff"><i class="fa fa-pie-chart"></i></span>
                                
                                <div class="info-box-content">
                                  <h3 style="margin-top:10px">Pizzas</h3>
                                    <% if combo.nil? %>
                                        <h4>0 de <%= @combo['pizzas']['quantity'] %></h4>
                                    <% else %>
                                        <% if combo['pizzas'].nil? %>
                                            <h4>0 de <%= @combo['pizzas']['quantity'] %></h4>
                                        <% else %>
                                            <h4><%= combo['pizzas'].length %> de <%= @combo['pizzas']['quantity'] %></h4>
                                        <% end %>
                                    <% end %>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                            <% if !combo.nil?  %>
                            <a href="<%= remove_pizza_combo_path(combo['id']) %>" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> &nbsp; Remover Pizzas</a>
                            <% end %>
                        </div>
                    <% end %>
                    
                    <% if @combo['beverages']['quantity'] > 0 %>
                        <div class="col-md-3">
                            <div class="info-box" >
                                <span class="info-box-icon" data-toggle="modal" data-target="#refri" style="cursor:pointer; color:#fff; background-color:green" ><i class="fa fa-plus"></i></span>
                                
                                <div class="info-box-content">
                                  <h3 style="margin-top:10px">Refrigerante</h3>
                                    <% if combo.nil? %>
                                        <h4>0 de <%= @combo['beverages']['quantity'] %></h4>
                                    <% else %>
                                        <% if combo['beverages'].nil? %>
                                            <h4>0 de <%= @combo['beverages']['quantity'] %></h4>
                                        <% else %>
                                            <h4><%= combo['beverages'].length %> de <%= @combo['beverages']['quantity'] %></h4>
                                        <% end %>
                                    <% end %>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                            <% if !combo.nil?  %>
                            <a href="<%= remove_bebida_combo_path(combo['id']) %>" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> &nbsp; Remover Bebidas</a>
                            <% end %>
                        </div>
                    <% end %>
                    
                    <div id="refri" class="modal fade" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Adicionar Bebida</h4>
                          </div>
                          <%= form_for :cart, url: add_combo_beverages_path do |f| %>
                          <div class="modal-body">
                            <%= f.hidden_field :id, :value => @combo['id'] %>
                            <%= f.select(:borders ) do %>
                                <% if !@combo['beverages']['beverages'].blank? %>
                                    <% @combo['beverages']['beverages'].each do |border| %>
                                        <%= content_tag(:option, border['name'], value: border['id']) %>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <%= f.submit 'Adicionar', :class => 'btn btn-primary' %>
                          </div>
                          <% end %>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <% if @combo['sweet_pizzas']['quantity'] > 0 %>
                        <div class="col-md-3">
                            <div class="info-box" >
                                <span class="info-box-icon" style="background-color:#fbd302; color:#a12327"><i class="fa fa-pie-chart"></i></span>
                                
                                <div class="info-box-content">
                                  <h3 style="margin-top:10px">Pizzas Doce</h3>
                                    <% if combo.nil? %>
                                        <h4>0 de <%= @combo['sweet_pizzas']['quantity'] %></h4>
                                    <% else %>
                                        <% if combo['sweet_pizzas'].nil? %>
                                            <h4>0 de <%= @combo['sweet_pizzas']['quantity'] %></h4>
                                        <% else %>
                                            <h4><%= combo['sweet_pizzas'].length %> de <%= @combo['sweet_pizzas']['quantity'] %></h4>
                                        <% end %>
                                    <% end %>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                            <% if !combo.nil?  %>
                            <a href="<%= remove_doce_combo_path(combo['id']) %>" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> &nbsp; Remover Pizzas Doce</a>
                            <% end %>
                        </div>
                    <% end %>

                    <% if !@combo['souvenir'].nil? %>
                        <div class="col-md-3">
                            <div class="info-box" >
                                <span class="info-box-icon"><i class="fa fa-plus"></i></span>
                                
                                <div class="info-box-content">
                                  <h3 style="margin-top:10px">Brinde</h3>
                                <% if combo.nil? %>
                                    <a href="#">Escolher</a>
                                <% else %>
                                    <% if combo['souvenir'].nil? %>
                                        <a href="#">Escolher</a>
                                    <% else %>
                                        <a href="#">Escolher</a>
                                    <% end %>
                                <% end %>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                            <% if !combo.nil?  %>
                           <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> &nbsp; Remover Brinde</a>
                           <% end %>
                        </div>
                    <% end %>

                </div>

            </div>
        </div><br>
        <br>
        <div class="row pizzas">
                
                <% @combo['pizzas']['pizzas'].each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p['name'] %></p>
                        <p class="redDesc"><%= p['description'] %></p>
                        <br>
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <% if session[:address_id].nil? %>
                                        <a href="#" onclick="alert('Nenhum endereço disponível, por favor complete seu cadastro em Meu Perfil e tente novamente!')" class="btn btn-ok">EU QUERO</a>
                                    <% else %>
                                        <a href="#<%= p['id'] %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                    <% end %>
                                <% end %>

                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p['id'] %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p['name'] %></h3>
                                            <br>
                                            <p><%= p['description'] %></p>
                                            <%= form_for :cart, url: add_combo_path do |f| %>
                                                <%= f.hidden_field :id, :value => @combo['id'] %>
                                                <%= f.hidden_field :name, :value => p['name'] %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <% if !@combo['border'].blank? %>
                                                                <% @combo['borders'].each do |border| %>
                                                                    <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p['id'] %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @combo['pizzas']['pizzas'].each do |p| %>
                                                            <%= content_tag(:option, p['name'], value: p['id']) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>
            
                <div class="center">
                    <img src="/images/doces.png"  alt="Pizza Prime" title="Pizza Prime" class="imgResp pointer">
                </div>
                <br>

                <% @combo['sweet_pizzas']['sweet_pizzas'].each do |p| %>
                    
                    <div class="col-md-3">
                        <div class="tradicio img-pizza">
                            <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" >
                        </div>
                        
                        <p class="titulo-pizzas imgResp"><%= p['name'] %></p>
                        <p class="redDesc"><%= p['description'] %></p>
                        <br>
                        <div class="center">
                            <% if session[:logged].nil? %>
                                <a href="#login" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                            <% else %>
                                <% if @store.is_open == false %>
                                    <a href="#" onclick="alert('Loja está fechada no momento!')" class="btn btn-ok">EU QUERO</a>
                                <% else %>
                                    <% if session[:address_id].nil? %>
                                        <a href="#" onclick="alert('Nenhum endereço disponível, por favor complete seu cadastro em Meu Perfil e tente novamente!')" class="btn btn-ok">EU QUERO</a>
                                    <% else %>
                                        <a href="#<%= p['id'] %>" data-toggle="modal" class="btn btn-ok">EU QUERO</a>
                                    <% end %>
                                <% end %>

                            <% end %>
                        </div>
                        <br>
                    </div>
                    

                    <div id="<%= p['id'] %>" class="modal fade" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content defaultcolor">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Adicionar ao Carrinho</h4>
                                  </div>
                                  <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="img-pizza">
                                                <img src="<%= p['picture'] %>" alt="<%= p['name'] %>" title="<%= p['name'] %>" style="filter:none; -webkit-filter:none;" >
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="center"><%= p['name'] %></h3>
                                            <br>
                                            <p><%= p['description'] %></p>
                                            <%= form_for :cart, url: add_combo_sweet_path do |f| %>
                                                <%= f.hidden_field :id, :value => @combo['id'] %>
                                                <%= f.hidden_field :name, :value => p['name'] %>
                                                <%= f.hidden_field :size, :value => session[:tamanho] %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Escolha a borda</p>
                                                        <%= f.select(:borders ) do %>
                                                            <% if !@combo['border'].blank? %>
                                                                <% @combo['borders'].each do |border| %>
                                                                    <%= content_tag(:option, border[:name], value: border[:id]) %>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Quantidade: </p>
                                                        <%= f.number_field :quantity, :class => 'form-control', :placeholder => 'Quantidade', :value => 1 %>
                                                        <br>
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Massa</p>
                                                        <%= f.select(:massa ) do %>
                                                            <%= content_tag(:option, session[:massa]) %>
                                                            <%= content_tag(:option, 'Fina') %>
                                                            <%= content_tag(:option, 'Média') %>
                                                            <%= content_tag(:option, 'Grossa') %>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <br>
                                                        <% if session[:integral] == '1' %>
                                                            <p><%= f.check_box :integral, :checked => true %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% else %>
                                                            <p><%= f.check_box :integral %> &nbsp; &nbsp; Pizza Integral </p>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                <p>Observações: </p>
                                                <%= f.text_area :obs, :class => 'form-control', :placeholder => 'Observações' %>
                                                <br>
                                                <p class="btn btn-default" onclick="segundosabor()">Adicionar 2º sabor</p><br>
                                                <br>
                                                <%= f.hidden_field :sabor1, :value => p['id'] %>
                                                <div class="segundo-sabor hidden">
                                                    <p>Selecione o 2º sabor:</p>
                                                    <%= f.select(:sabor2) do %>
                                                        <%= content_tag(:option, '2º Sabor', value: 'none') %>
                                                        <% @combo['pizzas']['pizzas'].each do |p| %>
                                                            <%= content_tag(:option, p['name'], value: p['id']) %>
                                                        <% end %>
                                                    <% end %>
                                                    <br>
                                                </div>

                                                <%= f.submit 'Adicionar ao Carrinho', :class => 'right btn btn-success' %>
                                                <div class="clear"></div>
                                            <% end %>
                                        </div>
                                    </div>

                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                <% end %>


            </div>




            </div>
        <%= render 'footer' %>

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script type="text/javascript" src="/js/untitled.js"></script>

        <script>
            $(document).ready( function(){ 

                var controller = new ScrollMagic.Controller();
                $('#selend').modal('show');
                $('#flash').modal('show');

                var scene = new ScrollMagic.Scene({triggerElement: '#tradicionais', triggerHook: 0.7})
                    .setClassToggle(".tradicio", "black")
                    .addTo(controller); // final da scene var

                var scene = new ScrollMagic.Scene({triggerElement: '#bebidas', triggerHook: 0.7})
                    .setClassToggle(".marginBebe", "black")
                    .addTo(controller); // final da scene var

            });
        </script>
    </body>
</html>
