<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >
        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
        <%= render :partial => 'header', :locals => {:page => 'home'} %>
        
        <div class="banner text-right">
            <br>
            <img src="/images/slide1.jpg" alt="Pizza Prime" title="Pizza Prime" >
            <img src="/images/logo-slide2.png" class="logobanner" alt="Pizza Prime" title="Pizza Prime" >
        </div>
        <br>
        <div class="content historia_de_sucesso">
            <h1 >História de Sucesso</h1>
            <br>
            <p><strong>Desde 2001</strong> levamos qualidade e sabor às casas de nossos clientes.<br>
Usamos ingredientes selecionados para que cada mordida seja inesquecível.<br>
Queremos estar presente nos encontros entre amigos, nas reuniões de família e em todos os momentos felizes.<br>
Acreditamos que todos nós merecemos sempre o melhor da vida, por isso, oferecemos o melhor em pizza.<br>
Já atuamos em quatro Estados: São Paulo, Rio Grande do Sul, Santa Catarina e Paraná.</p>
            <br>
            <h2>E em breve no Brasil inteiro!</h2>
        </div>
        <br>
        <div class="content combos row">
            <% @combos.take(4).each do |c| %>
                
                <div class="col-md-3 combo">
                    <div style="background-image: url('<%= c.picture %>')">
                        <div>
                            <h3><%= c.name %><br></h3>
                            <p><%= number_to_currency(c.price_tables.first.price, unit: "R$ ", separator: ',') %></p>
                            <span>Peça Agora</span>
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
            <% end %>
        </div><br>
        
        <br>
        
        <div class="mapas">
            <% @stores.each do |s| %>
                <%= s.inspect %><br><br>
            <% end %>
        </div>
        
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
