<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
        <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1581601698520946'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1581601698520946&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

    </head>
    <body>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60507233-1', 'auto');
  ga('send', 'pageview');

</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <%= render :partial => 'header', :locals => {:page => 'home', :links => 'site'} %>
        
        <div class="banner text-center cycle-slideshow md-only" data-cycle-fx="scrollHorz" data-cycle-next="#next" data-cycle-prev="#prev" data-cycle-slides="> div" data-cycle-timeout="0">
            <br>
            <div>
                <img src="/images/slide1.png" id="Image-Maps-Com-image-maps-2017-03-07-072812" alt="Pizza Prime" title="Pizza Prime" >
                <div class="iphone" onclick="javascript: window.open('https://itunes.apple.com/br/app/pizzaprime-a-sua-pizza/id1141550430?mt=8')"></div>
                <div class="android" onclick="javascript: window.open('https://play.google.com/store/apps/details?id=br.com.mobile2you.pizzaprime.pizzaprime')"></div>
            </div>
            <div>
                <img src="/images/banner_catupiry.png" alt="Pizza Prime" title="Pizza Prime" >
            </div>
            <div>
                <br><br><br><br>
                <img src="/images/banner_almoco_site.png" alt="Pizza Prime" title="Pizza Prime" >
            </div>
            <div>
                <br><br><br>
                <img src="/images/slide10.png" alt="Pizza Prime" title="Pizza Prime" >
            </div>
            <div>
                <br><br><br>
                <img src="/images/banner-novo.png" alt="Pizza Prime" title="Pizza Prime" >
            </div>
        </div>
        
        <div id="prev" class="md-only"><i class="fa fa-angle-left fa-2x"></i></div>
        <div id="next" class="md-only"><i class="fa fa-angle-right fa-2x"></i></div>
        <br>
        <div id="apizza" class="content historia_de_sucesso">
            <h1 id='trigger1' >História de Sucesso</h1>
            <br>
            <p id="cont1" class="margeado"><strong>Desde 2001</strong> levamos qualidade e sabor às casas de nossos clientes.<br>
Usamos ingredientes selecionados para que cada mordida seja inesquecível.<br>
Queremos estar presente nos encontros entre amigos, nas reuniões de família e em todos os momentos felizes.<br>
Acreditamos que todos nós merecemos sempre o melhor da vida, por isso, oferecemos o melhor em pizza.<br>
Já atuamos em cinco Estados: São Paulo, Amapá, Rio Grande do Sul, Santa Catarina e Paraná.</p>
            <br>
            <h2 id="trigger2" >E em breve no Brasil inteiro!</h2>
        </div>
        <br>
        <div class="content combos row">
            <% @combos.take(4).each do |c| 

                if session[:store].blank? && session[:user].blank?
                %>
                    <div id="cont2"  class="margeado col-md-3 combo" data-target="#login" data-toggle="modal">
                        <div style="background-image: url('<%= c.picture %>')">
                            <div>
                                <h3><%= c.name %><br></h3>
                                <span style="text-transform: initial; font-size:1em; padding:5px 20px"><%= c.subtitle %></span>
                                <span>Peça Agora</span>
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                <%
                else
                %>
                    <div id="cont2"  class="margeado col-md-3 combo" onclick="location.href='<%= combo_path(c['id']) %>'">
                        <div style="background-image: url('<%= c['picture'] %>')">
                            <div>
                                <h3><%= c['title'] %><br></h3>
                                <span style="text-transform: initial; font-size:1em; padding:5px 20px"><%= c['subtitle'] %></span>
                                <span>Peça Agora</span>
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                <%
                end
                %>
            <% end %>
        </div><br>
        
        <br>
        
        <div id="map"></div><br>
        <div class="center" style="position:relative; z-index:2;">
                <img src="/images/logo-slide2.png" alt="Pizza Prime" title="Pizza Prime" style="width:100px; margin:-70px 0 0;" >
        </div>
        <br>
        <div id="trabalhe" class="contato">
            <div class="content row">
                <div class="col-md-6">
                    <h1 class="center">FALE CONOSCO</h1>
                    <%= form_for :contact, url: contato_path do |f| %>
                        <%= f.text_field :name, :class => "formfield", :placeholder => 'NOME' %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= f.email_field :email, :class => 'formfield', :placeholder => 'EMAIL' %>
                            </div>
                            <div class="col-md-6">
                                <%= f.text_field :phone, :class => 'formfield', :placeholder => 'TELEFONE' %>
                            </div>
                        </div>
                        <%= f.text_area :message, :class => 'formfield', :placeholder => 'MENSAGEM' %>
                        <br>
                        <div class="center">
                            <%= f.submit :enviar, :class => 'btn-enviar', :value => 'Enviar' %>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-6">
                    <h1 class="center">TRABALHE CONOSCO</h1>
                    <%= form_for :contact,  :html => { :multipart => true }, url: contato_path do |f| %>
                         <%= f.text_field :name, :class => "formfield", :placeholder => 'NOME' %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= f.email_field :email, :class => 'formfield', :placeholder => 'EMAIL' %>
                            </div>
                            <div class="col-md-6">
                                <%= f.text_field :phone, :class => 'formfield', :placeholder => 'TELEFONE' %>
                            </div>
                        </div>
                        <%= f.text_area :message, :class => 'formfield', :placeholder => 'MENSAGEM' %>
                        <br>
                        <div class="center">
                            <%= f.submit :enviar, :class => 'btn-enviar', :value => 'Enviar' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <br>
        <div class="center redes">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
        </div>

        <%= render :partial => 'footer', :locals => {:page => 'home'} %>

        <!-- MODALS -->
        <div id="login" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Faça seu Login</h4>
              </div>
              <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="center">
                        <p class="center">Faça seu login para continuar, <a href="<%= cadastre_path %>">Cadastre-se</a></p>
                        <p class="center">ou</p>
                        <img src="/images/facebook.png" style="cursor:pointer" onclick="location.href='<%= auth_provider_path %>'" alt="Pizza Prime Facebook" title="Pizza Prime Facebook"/>
                    </div>
                    <br>
                        <br>
                        <%= form_for :login, url: login_path do |f| %>
                            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %><br>
                            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %><br>
                            <%= f.submit 'Login', :class => 'btn btn-danger' %>
                        <% end %>
                    </div>             
                </div>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <% @stores.each do |s| %>
            <% if !s.coordinates.nil? %>
            <div class='hidden store' data-ref='<%= s.id %>' data-lat='<%= s.coordinates[0] %>' data-long='<%= s.coordinates[1] %>'><%= s.name %></div>
            <% end %>
        <% end %>

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
        <script type="text/javascript" src="/js/cycle.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script type="text/javascript" src="/js/untitled.js"></script>
        <script>

            $(function(){

                var controller = new ScrollMagic.Controller();

                $('#flash').modal('show');

                var scene = new ScrollMagic.Scene({
                        triggerElement: '#trigger1',
                        triggerHook: 0.5
                    })
                    .setClassToggle("#cont1", "tiramargem")
                    .addTo(controller);

                var scene = new ScrollMagic.Scene({triggerElement: '#trigger2', triggerHook: 0.8})
                    .setClassToggle("#cont2", "tiramargem")
                    .addTo(controller);
            });
            
        </script>
        
        <script>

            var storelat = 0; 
            var storelong = 0;

            function getLocation()
              {
                if(localStorage.getItem('lat')){

                    
                }else{
                    if (navigator.geolocation)
                    {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    }
                    else{
                        alert('Erro ao Obter Localização');
                    }
                }
              
              }
              
            function showPosition(position)
              {
                  
                  localStorage.setItem('lat', position.coords.latitude);
                  localStorage.setItem('long', position.coords.longitude);
                  

              }

            getLocation();
          
          function initMap() {
            
            if(localStorage.getItem('lat')){
                var myLatLng = {lat: Number(localStorage.getItem('lat')), lng: Number(localStorage.getItem('long'))};
            }else{
                var myLatLng = {lat: Number($('.store').attr('data-long')), lng: Number($('.store').attr('data-lat'))};
            }
            
            var image = 'images/pin.png';
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              scrollwheel: false,
              zoom: 10
            });
            $('.store').each(function(){
                
                var storelatin = Number($(this).attr('data-lat'));
                var storelongin = Number($(this).attr('data-long'));
                var namein = $(this).text();
                var id = $(this).attr('data-ref');
                var marcador = 'marker'+id;

                var LatLng = {lat: storelongin, lng: storelatin};

                var marcador = new google.maps.Marker({
                  map: map,
                  position: LatLng,
                  title: namein,
                  icon: image

                });

            });

          }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEIyID8ZbFEjVHyt0uW1MdmxLSSb_5AyU&callback=initMap" async defer></script>

        <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/06c0c772-6f76-429f-8082-c86ab41812f5-loader.js" ></script>
    </body>
</html>
