<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
        <%= render :partial => 'header', :locals => {:page => 'home'} %>
        
        <div class="banner text-right">
            <br>
            <img src="/images/slide1.jpg" alt="Pizza Prime" title="Pizza Prime" >
            <img src="/images/logo-slide2.png" class="logobanner" alt="Pizza Prime" title="Pizza Prime" >
        </div>
        <br>
        <div class="content historia_de_sucesso">
            <h1 >História de Sucesso</h1>
            <br>
            <p><strong>Desde 2001</strong> levamos qualidade e sabor às casas de nossos clientes.<br>
Usamos ingredientes selecionados para que cada mordida seja inesquecível.<br>
Queremos estar presente nos encontros entre amigos, nas reuniões de família e em todos os momentos felizes.<br>
Acreditamos que todos nós merecemos sempre o melhor da vida, por isso, oferecemos o melhor em pizza.<br>
Já atuamos em quatro Estados: São Paulo, Rio Grande do Sul, Santa Catarina e Paraná.</p>
            <br>
            <h2>E em breve no Brasil inteiro!</h2>
        </div>
        <br>
        <div class="content combos row">
            <% @combos.take(4).each do |c| %>
                
                <div class="col-md-3 combo">
                    <div style="background-image: url('<%= c.picture %>')">
                        <div>
                            <h3><%= c.name %><br></h3>
                            <p><%= number_to_currency(c.price_tables.first.price, unit: "R$ ", separator: ',') %></p>
                            <span>Peça Agora</span>
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
            <% end %>
        </div><br>
        
        <br>
        
        <div id="map"></div><br>
        <div class="center" style="position:relative; z-index:2;">
                <img src="/images/logo-slide2.png" alt="Pizza Prime" title="Pizza Prime" style="width:100px; margin:-70px 0 0;" >
        </div>
        <br>
        <div class="contato">
            <div class="content row">
                <div class="col-md-6">
                    <h1 class="center">FALE CONOSCO</h1>
                    <%= form_for :contact, url: root_path do |f| %>
                        <%= f.text_field :name, :class => "formfield", :placeholder => 'NOME' %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= f.email_field :email, :class => 'formfield', :placeholder => 'EMAIL' %>
                            </div>
                            <div class="col-md-6">
                                <%= f.text_field :phone, :class => 'formfield', :placeholder => 'TELEFONE' %>
                            </div>
                        </div>
                        <%= f.text_area :message, :class => 'formfield', :placeholder => 'MENSAGEM' %>
                        <br>
                        <div class="center">
                            <%= f.submit :enviar, :class => 'btn-enviar', :value => 'Enviar' %>
                        </div>
                    <% end %>
                </div>
                <div class="col-md-6">
                    <h1 class="center">TRABALHE CONOSCO</h1>
                    <%= form_for :workwithus,  :html => { :multipart => true }, url: root_path do |f| %>
                         <%= f.text_field :name, :class => "formfield", :placeholder => 'NOME' %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= f.email_field :email, :class => 'formfield', :placeholder => 'EMAIL' %>
                            </div>
                            <div class="col-md-6">
                                <%= f.text_field :phone, :class => 'formfield', :placeholder => 'TELEFONE' %>
                            </div>
                        </div>
                        <%= f.text_area :message, :class => 'formfield', :placeholder => 'MENSAGEM' %>
                        <br>
                        <div class="center">
                            <%= f.submit :enviar, :class => 'btn-enviar', :value => 'Enviar' %>
                        </div>
                    <% end %>
                </div>

            </div>
        </div>
        <br>
        <div class="center redes">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
        </div>


        <% @stores.each do |s| %>
            <% if !s.coordinates.nil? %>
            <div class='hidden store' data-ref='<%= s.id %>' data-lat='<%= s.coordinates[0] %>' data-long='<%= s.coordinates[1] %>'><%= s.name %></div>
            <% end %>
        <% end %>
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        
        <script>

            var storelat = 0; 
            var storelong = 0;

            function getLocation()
              {
                if(localStorage.getItem('lat')){
                    
                }else{
                    if (navigator.geolocation)
                    {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    }
                    else{
                        alert('Erro ao Obter Localização');
                    }
                }
              
              }
              
            function showPosition(position)
              {
                  
                  localStorage.setItem('lat', position.coords.latitude);
                  localStorage.setItem('long', position.coords.longitude);
              }

            getLocation();
          
          function initMap() {
            
            if(localStorage.getItem('lat')){
                var myLatLng = {lat: Number(localStorage.getItem('lat')), lng: Number(localStorage.getItem('long'))};
            }else{
                var myLatLng = {lat: Number($('.store').attr('data-long')), lng: Number($('.store').attr('data-lat'))};
            }
            
            var image = 'images/pin.png';
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              scrollwheel: false,
              zoom: 10
            });
            $('.store').each(function(){
                
                var storelatin = Number($(this).attr('data-lat'));
                var storelongin = Number($(this).attr('data-long'));
                var namein = $(this).text();
                var id = $(this).attr('data-ref');
                var marcador = 'marker'+id;

                var LatLng = {lat: storelongin, lng: storelatin};

                var marcador = new google.maps.Marker({
                  map: map,
                  position: LatLng,
                  title: namein,
                  icon: image
                });

            });

          }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEIyID8ZbFEjVHyt0uW1MdmxLSSb_5AyU&callback=initMap" async defer></script>
    </body>
</html>
